@page "/dashboard"
@inject IDatabaseData db
@inject NavigationManager navigationManager

<button class="btn btn-primary" @onclick="NavigateToNewVehicleComponent">Create New Vehicle</button>

<br />
<br />

<h2>Vehicles</h2>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Number</th>
            <th>Build</th>
            <th>Stage</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in @AllVehicles)
        {
            <tr>
                <td>@vehicle.Title</td>
                <td>@vehicle.Number</td>
                <td>@vehicle.BuildNumber</td>
                <td>@vehicle.Stage</td>
                <td>
                    <button class="btn btn-primary" @onclick="() => NavigateToVehicleComponent(vehicle.Id)">
                        View
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<VehicleModel> AllVehicles { get; set; }

    protected override void OnParametersSet()
    {
        AllVehicles = db.GetAllVehicles();
    }

    private void NavigateToVehicleComponent(int id)
    {
        navigationManager.NavigateTo($"vehicle/{ id }");
    }

    private void NavigateToNewVehicleComponent()
    {
        navigationManager.NavigateTo($"newvehicle");
    }

}
