@page "/experiment/{ActiveId:int}"
@inject IDatabaseData db
<h3>Experiment</h3>

<h1>Title: <strong>@ShowedExperiment.Title</strong></h1>
<h2>Requirement:</h2>
<p>@ShowedExperiment.Requirement</p>
<h2>Description:</h2>
<p>@ShowedExperiment.Description</p>

@code {
    [Parameter]
    public int ActiveId { get; set; }

    public ExperimentModel ShowedExperiment { get; set; }

    protected override void OnParametersSet()
    {
        ShowedExperiment = db.GetSelectedExperiment(ActiveId);
    }
}
