@page "/experiment/{ActiveId:int}"
@inject IDatabaseData db

@if (ShowedExperiment == null)
{
    <h1>Loading</h1>
}
else
{
    <h3>Experiment</h3>

    <h1>Title: <strong>@ShowedExperiment.Title</strong></h1>
    <h2>Requirement:</h2>
    <p>@ShowedExperiment.Requirement</p>
    <h2>Description:</h2>
    <p>@ShowedExperiment.Description</p>
}


@code {
    [Parameter]
    public int ActiveId { get; set; }

    public ExperimentModel ShowedExperiment { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        ShowedExperiment = await db.GetSelectedExperiment(ActiveId);
    }

}
