@page "/newexperiment/{SelectedVehicleId:int}"
@attribute [Authorize(Roles = "Administrator")]
@inject IDatabaseData db
@inject NavigationManager navigationManager


<div class="container text-center p-4">

    <h1>Create New Experiment</h1>

    <EditForm Model="@experiment" OnValidSubmit="CreateNewExperiment">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <p class="text-right m-3">
            <label>
                Title:
                <InputText @bind-Value="experiment.Title"
                           DisplayName="Experiment Title" />
            </label>
        </p>
        <p class="text-right m-3">
            <label>
                Requirement to verify:
                <InputText @bind-Value="experiment.Requirement"
                           DisplayName="Experiment Requirement" />
            </label>
        </p>
        <p class="text-right m-3">
            <label>
                Description:
                <InputTextArea @bind-Value="experiment.Description"
                               DisplayName="Experiment Title" />
            </label>
        </p>

        <button class="btn btn-primary" type="submit">Create</button>

    </EditForm>
</div>


@code {

    [Parameter]
    public int SelectedVehicleId { get; set; }

    private NewExperimentComponentModel experiment = new();

    private void CreateNewExperiment()
    {
        db.AddExperiment(experiment.Title, experiment.Requirement, experiment.Description, SelectedVehicleId);
        navigationManager.NavigateTo($"/vehicle/{ SelectedVehicleId }");
    }

}
