@page "/newexperiment/{SelectedVehicleId:int}"
@attribute [Authorize(Roles = "Administrator")]
@inject IDatabaseData db
@inject NavigationManager navigationManager


<div class="container text-center p-4">

    <h1>Create New Experiment</h1>

    <EditForm Model="@experiment" OnValidSubmit="CreateNewExperiment">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label>Title:</label>
            <InputText @bind-Value="experiment.Title"
                       DisplayName="Experiment Title"
                       class="form-control" />
        </div>
        <div class="form-group">
            <label>Requirement to verify:</label>
            <InputText @bind-Value="experiment.Requirement"
                       DisplayName="Experiment Requirement"
                       class="form-control" />
        </div>
        <div class="form-group">
            <label>Description:</label>
            <InputText @bind-Value="experiment.Description"
                       DisplayName="Experiment Title"
                       class="form-control" />
        </div>

        <button class="btn btn-primary" type="submit">Create</button>

    </EditForm>
</div>


@code {

    [Parameter]
    public int SelectedVehicleId { get; set; }

    private NewExperimentComponentModel experiment = new();

    private void CreateNewExperiment()
    {
        db.AddExperiment(experiment.Title, experiment.Requirement, experiment.Description, SelectedVehicleId);
        navigationManager.NavigateTo($"/vehicle/{ SelectedVehicleId }");
    }

}
