@page "/newvehicle"
@inject IDatabaseData db
@inject NavigationManager navigationManager

<div class="text-center">
    <br />

    <h1>Create New Vehicle</h1>


    <EditForm Model="@vehicle" OnValidSubmit="CreateNewVehicle">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <p class="text-right m-3">
            <label>
                Title:
                <InputText @bind-Value="vehicle.Title"
                           DisplayName="Vehicle Title" />
            </label>
        </p>
        <p class="text-right m-3">
            <label>
                Vehicle Number:
                <InputText @bind-Value="vehicle.VehicleNumber"
                           DisplayName="Vehicle Number" />
            </label>
        </p>
        <p class="text-right m-3">
            <label>
                Build Number:
                <InputText @bind-Value="vehicle.BuildNumber"
                           DisplayName="Build Number" />
            </label>
        </p>

        <button class="btn btn-primary m-3" type="submit">Create</button>
    </EditForm>

    <br />

</div>


@code {

    private NewVehicleComponentModel vehicle = new();

    private void CreateNewVehicle()
    {
        db.AddVehicle(vehicle.Title, vehicle.VehicleNumber, vehicle.BuildNumber);
        navigationManager.NavigateTo($"vehiclelist");
    }

}
