div .card {
    width: 13rem;
    background-color: #F2F2F2;
    opacity: 0.9;
}

div .headline {
    background-color: #D9B26A;
    opacity: 0.9;
}

div .row {
    background-color: #D9B26A;
    opacity: 0.9
}
