div .headline {
    background-color: #D9B26A;
    opacity: 0.9;
}

div .container {
    background-color: #D9B26A;
    opacity: 0.9;
}

div .card {
    background-color: #D9B26A;
}

div .list {
    background-color: #F2F2F2;
    opacity: 0.9;
}