<AuthorizeView>
    <Authorized>
        <a class="btn btn-secondary" href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        <a class="btn btn-secondary" href="Identity/Account/LogOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-secondary" href="Identity/Account/Register">Register</a>
        <a class="btn btn-secondary" href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
