@page
@model VMSapp.Web.Pages.CreateExperimentModel
@{
    ViewData["Title"] = "Create new experiment";
}

<form method="post">
    <div class="form-group">
        <label>Title</label>
        <input asp-for="@Model.Experiment.Title" />
    </div>
    <div class="form-group">
        <label>Requirement verified</label>
        <input asp-for="@Model.Experiment.Requirement" />
    </div>
    <div class="form-group">
        <label>Description</label>
        <input asp-for="@Model.Experiment.Description" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>