@page
@model VMSapp.Web.Pages.ViewExperimentModel
@{
    ViewData["Title"] = "Create new experiment";
}

<h1>Title: <strong>@Model.Experiment.Title</strong></h1>
<h2>Requirement:</h2>
<p>@Model.Experiment.Requirement</p>
<h2>Description:</h2>
<p>@Model.Experiment.Description</p>